## Taken from the Prework course of the PGP AIML at The University of Texas

# INTRO TO VARIABLE EXERCISE

---------------------

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [2]:
a = 10

b = 5.1

add = a + b

type(add)

float

### 2. Is 5 == (3+2)?

In [3]:
5 == (3+2)

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [4]:
a = 33
print(a)

33

### 4. Convert integer variable *a* to float and check its type

a = 3

In [5]:
a = 3
a = float(a)
type(a)

float

### 5. What will be 5 times *a* if the value of a is 10?

In [6]:
a = 10 
print(5*a)

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [8]:
triangleArea= 0.5*10*5
print(triangleArea)

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If 

v = 10

w = 25

x = 70

y = 2

In [9]:
v = 10
w = 25
x = 70
y = 2
z = (v + w) * (x / y)
print(z)

1225.0

### 8. Swap values of *a* and *b* 
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [10]:
a = 10 
b = 5
print("A y B antes del intercambio {},{}".format(a,b))
temp = a 
a = b 
b = temp 
print("A y B después del intercambio {},{}".format(a,b))

A y B antes del intercambio 10,5
A y B después del intercambio 5,10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

In [11]:
celsius = 35
fahrenheit = 1.8 * celsius + 32
print("Temperatura en Fahrenheit =", fahrenheit)

Temperatura en Fahrenheit = 95.0

-------------